* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #00235B;
}

h1 {
    color: #00235B;
}

p {
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: #ff0000;
    margin: 10px 0; 
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
    margin: 20px;
}

.masuk {
    width: 100%;
    max-width: 400px;
    font-weight: bold;
    padding: 10px; 
}

form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    margin: 10px 0; 
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

hr {
    border-top: 2px solid #00235B;
    margin: 10px 0; 
}

.form-group {
    margin-bottom: 10px; 
}

form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
}

input {
    font-family: 'Calibri';
    width: 100%;
    margin: 2px 0;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00235B;
}

input::placeholder {
    font-style: italic;
    font-family: 'Calibri';
}

.btn {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
    border-radius: 5px;
    background: #da0000;
}

.btn:hover {
    font-weight: bold;
    background: #ff1010;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
        margin: 10px; /* Adjusted margin */
    }

    form {
        width: 100%;
        max-width: 100%;
        margin: 10px auto; /* Adjusted margin */
    }
}

@media (max-width: 500px) {
    .container {
        padding: 5px; /* Further reduced padding */
        margin: 5px; /* Further reduced margin */
    }

    form {
        width: 100%;
        max-width: 100%;
    }

    .masuk {
        padding: 5px; /* Further reduced padding */
    }
}

.tombol {
    background: #f84200;
    color: white;
    font-size: 15px;
    width: 100%;
    border: none;
    border-radius: 30px;
    padding: 8px 15px;
    font-weight: bold;
}
